<!--pass into this partial
ReviewObjectName, the course or instructor being reviewed
criteria, array of values to be rated from 1-10
criteriaLables, corresponding labels for these values
criteriaReverse, array of booleans for whether these values should have their color reversed, green to red instead of red->green
reviewTypeLabel, string of the review type, i.e. course or professor
parent_id, string for the name of the parent ID, i.e. course_meta_id, instructor_id
-->


<div class="page-header">
  <h1>Review for: <%=reviewObjectName %></h1>
</div>



<%= form_for @review, html:{class:"form-horizontal"} do |f| %>
<div class="row">
  <div class="span6">
    <% for index in (0..criteria.size-1) %>
      <div class="control-group">
        <label class="control-label"><%=criteriaLabels[index]%></label>
        <div class="controls">
          <div class="btn-group">
            <button class="rating_meter grey" 
              type='button' id=<%=criteria[index]+0.to_s%>>n/a</button>
            <% for level in (1..10) %>
              <button class="rating_meter" type='button' id=<%=criteria[index]+level.to_s%>><%=level%></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <%= f.text_field :author, placeholder:"Reviewer Name (optional)", class:"input-xlarge" %>  
    <br><br>
    <%= f.text_area :review_content, rows:15, class:"input-xlarge", placeholder:"How was this "+reviewTypeLabel+"?"%>
  </div>  
</div>
<div class="row">
  <div class="span4 offset4">
    <% for criterionIndex in 0..criteria.size-1 %>
      <%= f.hidden_field criteria[criterionIndex], value:"0" %>
    <% end %>
    <%= f.hidden_field parent_id %>
    <%= f.submit "Submit", class:"btn btn-primary btn-block btn-large" %>
  </div>
</div>
    <% end %>
<script>
<!--hacky, I added the first and last color twice so math works out-->
var colorLevels =["lightgrey",  <%for color in color_gradient%>"<%= color %>",<% end %> "lightgrey"]

<% for criterionIndex in 0..criteria.size-1 %>
<% for level in 0..10 %>
$("<%="#"+criteria[criterionIndex]+level.to_s%>").click(
  function(){
    $("<%="#course_review_"+criteria[criterionIndex]%>").val("<%=level%>");
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=criteriaReverse[criterionIndex]%>);
  }
);


$("<%="#"+criteria[criterionIndex]+level.to_s%>").hover(
  function(){
  highlightToLeft("<%=criteria[criterionIndex]%>", <%=level%>, 
    colorLevels[<%=criteriaReverse[criterionIndex] ? 11-level : level%>]);
  }, 
  function(){
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=criteriaReverse[criterionIndex]%>);
  }
);
<% end %>
<% end %>


function highlightToLeft(criteria, level, color){
  for (var i=0;i<=level;i++){
    idTag = "#"+criteria+i.toString();
    $(idTag).css("background-color", color);
  }
};

function unhighlightAll(criteria, reverse){
  for (var i=0;i<=10;i++){

    criteriaValue=0;
    ratingString = $("#course_review_"+criteria).val();
    if(ratingString!=""){
      criteriaValue = parseInt(ratingString);
    }
    idTag = "#"+criteria+i.toString();
    if(criteriaValue<i){
      $(idTag).css("background-color", "whiteSmoke");  
    }
    else{
      criteriaValueAfterReverse = reverse ? (11-criteriaValue) : criteriaValue;
      $(idTag).css("background-color", colorLevels[criteriaValueAfterReverse]);  
    }
  }
};

</script>