<% help_text = "We aggregate OmniDUKE.com user reviews with Duke's official course evals and assign roughly equal weight to come to these ratings."%>


<%= render partial:'courses/course_detail_view_header', locals:{navHighlight:"Review"} %>



<div class="row">

	<div class="span6">

		<h2>Course Ratings<%= render partial:"partials/miscellaneous/info_popover", locals:{id:"courseRatingInfoPopover", content:help_text, title:"How do we calculate this rating?", placement:"bottom"} %></h2>	


		<h3>Overall Quality: <%= render partial:"partials/course_reviews/colored_number_square", locals:{number:@course.course_meta.overall_quality, reverse:false}%></h3>
		<h3>Overall Difficulty: <%= render partial:"partials/course_reviews/colored_number_square", locals:{number:@course.course_meta.overall_difficulty, reverse:true}%></h3>
	</div>

	<div class="span6">
		<h2>Instructor Ratings</h2>
	</div>

</div>

<%= render @course_meta.course_reviews %>
