<h1>Review this course!</h1>


<% criteria=["usefulness", "stimulating", "content_quality", "homework_difficulty", "lab_difficulty", "midterm_difficulty",
  "final_difficulty", "out_of_class_work_hours"] %>
<% criteriaLabels=['Usefulness', 'Interesting/Stimulating', 'Quality of Content', 'Homework Difficulty',
  'Lab Difficulty', 'Midterm Difficulty', 'Final Difficulty', 'Out of Class Work Time'] %>
  <% reverseColors=[false,false,false,true,true,true,true,true]%>

<form class='form-horizontal'>
<% for index in (0..criteria.size-1) %>
  <div class="control-group">
    <label class="control-label"><%=criteriaLabels[index]%></label>
    <div class="controls">
      <div class="btn-group">
        <button class="rating_meter <%= reverseColors[index]==true ? "green" : "red" %>" 
          type='button' id=<%=criteria[index]+0.to_s%>>n/a</button>
        <% for level in (1..10) %>
          <button class="rating_meter" type='button' id=<%=criteria[index]+level.to_s%>><%=level%></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</form>

<%= form_for @review, html:{class:"form-horizontal"} do |f| %>
  <% for criterionIndex in 0..criteria.size-1 %>
    <%= f.hidden_field criteria[criterionIndex] %>
  <% end %>
  <div class="control-group">
    <label class="control-label">Review Content</label>
    <div class="controls">
      <%= f.text_area :review_content, rows:5, class:"input-xlarge"%>
    </div>
  </div>
  <%= f.hidden_field :course_meta_id %>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Submit", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

<script>
<!--hacky, I added the first color twice so math works out-->
var colorLevels =["<%=color_gradient.first %>",  <%for color in color_gradient%>"<%= color %>",<% end %>]

<% for criterionIndex in 0..criteria.size-1 %>
<% for level in 0..10 %>
$("<%="#"+criteria[criterionIndex]+level.to_s%>").click(
  function(){
    $("<%="#course_review_"+criteria[criterionIndex]%>").val("<%=level%>");
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=reverseColors[criterionIndex]%>);
  }
);


$("<%="#"+criteria[criterionIndex]+level.to_s%>").hover(
  function(){
  highlightToLeft("<%=criteria[criterionIndex]%>", <%=level%>, 
    colorLevels[<%=reverseColors[criterionIndex] ? 10-level : level%>]);
  }, 
  function(){
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=reverseColors[criterionIndex]%>);
  }
);
<% end %>
<% end %>


function highlightToLeft(criteria, level, color){
  for (var i=0;i<=level;i++){
    idTag = "#"+criteria+i.toString();
    $(idTag).css("background-color", color);
  }
};

function unhighlightAll(criteria, reverse){
  for (var i=0;i<=10;i++){

    criteriaValue=0;
    ratingString = $("#course_review_"+criteria).val();
    if(ratingString!=""){
      criteriaValue = parseInt(ratingString);
    }
    idTag = "#"+criteria+i.toString();
    if(criteriaValue<i){
      $(idTag).css("background-color", "whiteSmoke");  
    }
    else{
      criteriaValueAfterReverse = reverse ? (10-criteriaValue) : criteriaValue;
      $(idTag).css("background-color", colorLevels[criteriaValueAfterReverse]);  
    }
  }
};

</script>