<h1>Review this course!</h1>


<% criteria=["usefulness", "stimulating", "content_quality", "homework_difficulty", "lab_difficulty", "midterm_difficulty",
  "final_difficulty", "out_of_class_work_hours"] %>
<% criteriaLabels=['Usefulness', 'Interesting/Stimulating', 'Quality of Content', 'Homework Difficulty',
  'Lab Difficulty', 'Midterm Difficulty', 'Final Difficulty', 'Out of Class Work Time'] %>

<form class='form-horizontal'>
<% for index in (0..criteria.size-1) %>
  <div class="control-group">
    <label class="control-label"><%=criteriaLabels[index]%></label>
    <div class="controls">
      <div class="btn-group">
        <button class="rating_meter zero" type='button' id=<%=criteria[index]+0.to_s%>>n/a</button>
        <% for level in (1..10) %>
          <button class="rating_meter" type='button' id=<%=criteria[index]+level.to_s%>><%=level%></button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</form>

<%= form_for @review do |f| %>
  <% for criterion in criteria %>
    <%= f.hidden_field criterion %>
  <% end %>
  <%= f.hidden_field :course_meta_id %>
  <%= f.submit "Submit", class:"btn" %>
<% end %>

<script>
var colorLevels =['#EE5F5B', '#EE5F5B','#F17059', '#F68254', '#F8A352', '#FBB450', '#DCB754', '#BEBA57', '#9FBE5B', '#81C15E', '#62C462']


<% for criterion in criteria %>
<% for level in 0..10 %>
$("<%="#"+criterion+level.to_s%>").click(
  function(){
    $("<%="#course_review_"+criterion%>").val("<%=level%>");
    unhighlightAll("<%=criterion%>");
  }
);


$("<%="#"+criterion+level.to_s%>").hover(
  function(){
  highlightToLeft("<%=criterion%>", <%=level%>, colorLevels[<%=level%>]);
  }, 
  function(){
    unhighlightAll("<%=criterion%>");
  }
);
<% end %>
<% end %>


function highlightToLeft(criteria, level, color){
  for (var i=0;i<=level;i++){
    idTag = "#"+criteria+i.toString();
    $(idTag).css("background-color", color);
  }
};

function unhighlightAll(criteria){
  for (var i=0;i<=10;i++){

    criterionValue=0;
    ratingString = $("#course_review_"+criteria).val();
    if(ratingString!=""){
      criterionValue = parseInt(ratingString);
    }
    idTag = "#"+criteria+i.toString();
    if(criterionValue<i){
      $(idTag).css("background-color", "whiteSmoke");  
    }
    else{
      $(idTag).css("background-color", colorLevels[criterionValue]);  
    }
  }
};

</script>