<h1>Review this course!</h1>


<% criteria=["usefulness", "stimulating", "content_quality", "homework_difficulty", "lab_difficulty", "midterm_difficulty",
  "final_difficulty"] %>

<% for criterion in criteria %>
<h3><%=criterion%></h3>
<div class="btn-group">
  <button class="rating_meter" id=<%=criterion+0.to_s%>>n/a</button>
  <% for level in (1..10) %>
  <button class="rating_meter" id=<%=criterion+level.to_s%>><%=level%></button>
  

  <% end %>
</div>
<% end %>


<%= form_for @review do |f| %>
  <%= f.hidden_field :usefulness%>
  <%= f.hidden_field :stimulating %>
  <%= f.hidden_field :content_quality %>
  <%= f.hidden_field :homework_difficulty %>
  <%= f.hidden_field :lab_difficulty %>
  <%= f.hidden_field :midterm_difficulty %>
  <%= f.hidden_field :final_difficulty %>
  <%= f.hidden_field :course_meta_id %>
  <%= f.submit "Submit", class:"btn" %>
<% end %>

<script>
<% for criterion in criteria %>
<% for level in 0..10 %>
$("<%="#"+criterion+level.to_s%>").click(
  function(){
    $("<%="#course_review_"+criterion%>").val("<%=level%>");
    unhighlightAll("<%=criterion%>", "grey");
  }
);


$("<%="#"+criterion+level.to_s%>").hover(
  function(){
  highlightToLeft("<%=criterion%>", <%=level%>, "red");
  }, 
  function(){
    unhighlightAll("<%=criterion%>", "grey");
  }
);
<% end %>
<% end %>


function highlightToLeft(criteria, level, color){
  for (var i=0;i<=level;i++){
    idTag = "#"+criteria+i.toString();
    $(idTag).css("background-color", color);
  }
};

function unhighlightAll(criteria, color){
  for (var i=0;i<=10;i++){
    criterionValue=0;
    ratingString = $("#course_review_"+criteria).val();
    if(ratingString!=""){
      criterionValue = parseInt(ratingString);
    }
    idTag = "#"+criteria+i.toString();
    if(criterionValue<i){
      $(idTag).css("background-color", color);  
    }
  }
};

</script>