<div class="page-header">
  <h1>Review for: <%=CourseMeta.find(@course_meta_id).course_name %></h1>
</div>


<% criteria=["usefulness", "stimulating", "content_quality", "homework_difficulty", "lab_difficulty", "midterm_difficulty",
  "final_difficulty", "out_of_class_work_hours"] %>
<% criteriaLabels=['Usefulness', 'Interesting/Stimulating', 'Quality of Content', 'Homework Difficulty',
  'Lab Difficulty', 'Midterm Difficulty', 'Final Difficulty', 'Out of Class Work Time'] %>
  <% reverseColors=[false,false,false,true,true,true,true,true]%>


<%= form_for @review, html:{class:"form-horizontal"} do |f| %>
<div class="row">
  <div class="span6">
    <% for index in (0..criteria.size-1) %>
      <div class="control-group">
        <label class="control-label"><%=criteriaLabels[index]%></label>
        <div class="controls">
          <div class="btn-group">
            <button class="rating_meter grey" 
              type='button' id=<%=criteria[index]+0.to_s%>>n/a</button>
            <% for level in (1..10) %>
              <button class="rating_meter" type='button' id=<%=criteria[index]+level.to_s%>><%=level%></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <%= f.text_field :author, placeholder:"Reviewer Name (optional)", class:"input-xlarge" %>  
    <br><br>
    <%= f.text_area :review_content, rows:15, class:"input-xlarge", placeholder:"How was this course?"%>
  </div>  
</div>
<div class="row">
  <div class="span4 offset4">
    <% for criterionIndex in 0..criteria.size-1 %>
      <%= f.hidden_field criteria[criterionIndex], value:"0" %>
    <% end %>
    <%= f.hidden_field :course_meta_id %>
    <%= f.submit "Submit", class:"btn btn-primary btn-block btn-large" %>
  </div>
</div>
    <% end %>
<script>
<!--hacky, I added the first and last color twice so math works out-->
var colorLevels =["lightgrey",  <%for color in color_gradient%>"<%= color %>",<% end %> "lightgrey"]

<% for criterionIndex in 0..criteria.size-1 %>
<% for level in 0..10 %>
$("<%="#"+criteria[criterionIndex]+level.to_s%>").click(
  function(){
    $("<%="#course_review_"+criteria[criterionIndex]%>").val("<%=level%>");
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=reverseColors[criterionIndex]%>);
  }
);


$("<%="#"+criteria[criterionIndex]+level.to_s%>").hover(
  function(){
  highlightToLeft("<%=criteria[criterionIndex]%>", <%=level%>, 
    colorLevels[<%=reverseColors[criterionIndex] ? 11-level : level%>]);
  }, 
  function(){
    unhighlightAll("<%=criteria[criterionIndex]%>", <%=reverseColors[criterionIndex]%>);
  }
);
<% end %>
<% end %>


function highlightToLeft(criteria, level, color){
  for (var i=0;i<=level;i++){
    idTag = "#"+criteria+i.toString();
    $(idTag).css("background-color", color);
  }
};

function unhighlightAll(criteria, reverse){
  for (var i=0;i<=10;i++){

    criteriaValue=0;
    ratingString = $("#course_review_"+criteria).val();
    if(ratingString!=""){
      criteriaValue = parseInt(ratingString);
    }
    idTag = "#"+criteria+i.toString();
    if(criteriaValue<i){
      $(idTag).css("background-color", "whiteSmoke");  
    }
    else{
      criteriaValueAfterReverse = reverse ? (11-criteriaValue) : criteriaValue;
      $(idTag).css("background-color", colorLevels[criteriaValueAfterReverse]);  
    }
  }
};

</script>