<!-- pass in a local varible "list" -->

<ul class="nav nav-pills">
  <li>
    <%= link_to "#", '#all', {'data-toggle'=>'tab'} %>
  </li>
  <% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ".each_char %>
  <li>
    <%= link_to letter, ('#'+letter), {'data-toggle'=>'tab'} %>
  </li>
  <% end %>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active" id="all">
    <%= render list %>
  </div>
  <% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ".each_char %>
  <%= content_tag :div, {:class=>'tab-pane fade in', :id=>letter} do -%>
  <%= render list.select {|i| i.name.starts_with?(letter) or i.name.starts_with?(letter.downcase)} %>
  <% end -%>
  
  <% end %>
</div>

