<div class="control-group">
  <label class="control-label">Areas of Knowledge</label>
  <div class="controls">
    <label class="checkbox inline">
      <%= check_box( :attributes, :ALP) %> ALP
    </label>
    <label class="checkbox inline">
      <%= check_box(:attributes, :CZ) %> CZ
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :NS) %> NS
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :SS) %> SS
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :QS) %> QS
    </label>
  </div>
</div>
