<div class = "list_courses_in_subject">
    
    <div class="row">
        <h3 class="list_course_title course_link span10"><%= link_to courseToStringWithoutSubject(course), course_path(course)  %>
        </h3>
        <div class="span2" id="bookbag-course-<%= course.id.to_s %>">
            <% if current_or_guest_user.courses.include?(course) %>
                <%= render partial: "bookbag_relationship/removeCourse", 
                    locals: {course:course} 
                %>  
            <% else %>
                <%= render partial: "bookbag_relationship/addCourse",
                    locals: {course:course}
                 %>  
            <% end %>
        </div>
    </div>

        <div class="list_course_content">

            <div class="row">
                <div class="span4">
                    <strong>Professors:</strong> 
                        <%= render :partial => "partials/instructors", :locals => { :instructors => course.instructors} %>
                </div>


                <div class="span4">
                    <strong>Attributes:</strong>
                        <% for attribute in course.course_attributes %>
                        <%= attribute.toString %>
                        <% end %>
                </div>

                <div class="span4">
                    <%= render :partial => "partials/courses/course_rating_stamp", :locals=> {course:course} %>
                </div>
            </div>


        <strong>Description:</strong> 
        <% for description in course.descriptions %>
        <% if description!=nil %>
        <%= description.truncate(150) %>
        <% end %>
        <% end %>
        </div>

</div>  


