<div class="control-group">
  <label class="control-label">Modes of Inquiry</label>
  <div class="controls">
    <label class="checkbox inline">
      <%= check_box( :attributes, :CCI) %> CCI
    </label>
    <label class="checkbox inline">
      <%= check_box(:attributes, :EI) %> EI
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :STS) %> STS
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :FL) %> FL
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :R) %> R
    </label>
   <label class="checkbox inline">
      <%= check_box(:attributes, :W) %> W
    </label>
  </div>
</div>
