<li>
<h3><%= link_to course.toString(@subject.id), course_path(course)  %></h3>
<h4>Professors: <%= render :partial => "partials/instructors", :locals => { :instructors => course.instructors} %></h4>
<h4>Prerequisites: <%= render :partial => "partials/prerequisites", :locals => { :prerequisites => course.prerequisites, :subjectid => @subject.id } %>

</h4>
<h4>Areas Of Knowledge: 
<% for aok in course.areas_of_knowledge %>
<%= aok.abbr %>
<% end %>
</h4>
<h4>Modes of Inquiry: 
<% for moi in course.modes_of_inquiry %>
<%= moi.abbr %>
<% end %>
</h4>

<h5>Description: <%= truncate(course.description, length:300) %></h5>

</li>
