
<div class="row">
  <div class="span9">
    <% if @subject==nil %>
    <h3><%= link_to course.toDefaultString, course_path(course)  %></h3>
    <% else %>
    <h3><%= link_to course.toString(@subject.id), course_path(course)  %></h3>
    <% end %>
    
    <h4>Professors: <%= render :partial => "partials/instructors", :locals => { :instructors => course.instructors} %></h4>
    
    <h4>Prerequisites: <%= render :partial => "partials/prerequisites", :locals => { :prerequisites => course.prerequisites} %>
    </h4>

    <h4>Attributes: 
      <% for attribute in course.course_attributes %>
      <%= attribute.toString %>,
      <% end %>
    </h4>
    
    <h4>Description:</h4>
    <% for description in course.descriptions %>
    <p><%= description.truncate(250) %></p>
    <% end %>





  </div>
  
  <div class="span3">
    <h3>Times</h3>
  </div>
  
</div>

