<h1>Sections</h1>

<ul>
  <% for section in @course.sections %>
  <li><h3><%= section.section_type + section.suffix %></h3>

    <h4>Times</h4>
    <% for day in section.time_slot.daysOfWeekToStringArray %>
    <%= day %>
    <% end %>
    <br>
    <%= section.time_slot.startTimeString + " - " + section.time_slot.endTimeString %>
    

    <h4>Instructors</h4>
    <ul class="unstyled">
      <% for instructor in section.instructors %>
      <li>
	<%= link_to instructor.name, instructor_path(instructor.id) %>
      </li>
      <% end %>
    </ul>
    <h4>Location</h4>
    <%= section.location %>
    <h4>Enrollment</h4>
    <%= section.enrollment.to_s + "/" +section.capacity.to_s %>
    <h4>Waitlist</h4>
    <%= section.waitlist_enrollment.to_s+"/" + section.waitlist_capacity.to_s %>
    <h4>Class Number</h4>
    <%= section.class_number %>
  </li>

  <% end %>
</ul>
