<h1>Sections</h1>


<% for section in @course.sections %>

<h3>
<%= section.name %>
</h3>
<% if section.topic!="n/a" %>
<h4>Topic</h4>
<%= capitalize(section.topic) %>
<% end %>
<h4>Times</h4>
<%= section.time_slot.aces_value %>
<% if @course.descriptions.size > 1 %>
<h4>Description</h4>
<%= section.description %>
<% end %>


<h4>Instructors</h4>
<ul class="unstyled">
  <% for instructor in section.instructors %>
  <li>
    <%= link_to instructor.toString, instructor_path(instructor.id) %>
  </li>
  <% end %>
</ul>

<h4>Room</h4>
<%= section.room %>
<h4>Enrollment</h4>
<%= section.enrollment.to_s + "/" +section.capacity.to_s %>
<h4>Waitlist</h4>
<%= section.waitlist_enrollment.to_s+"/" + section.waitlist_capacity.to_s %>


<h4>Class Number</h4>
<%= section.class_number %>
<h4>Location</h4>
<%= section.location %>

<br>
<% end %>

