<title>OmniDUKE Courses</title>
<!--%= render partial:"partials/breadcrumbs", locals:{breadCrumbHash:{"Home"=>root_path, "Courses"=>courses_path}} %-->


<%= render partial:"partials/search_bar/search_bar", locals:{redirect:courses_results_path, help_text:course_search_help_text} %>
<%= render partial:"partials/search_bar/pill_links", locals:{pill_id:"course_pills"} %>
<div class="btn-group">
<%= render partial:"partials/session_selector", locals:{path:"courses_path"} %>
<%= render partial:"partials/search_bar/course_advanced_options" %> 

</div>


<h3>Browse by Subject</h3>



<%= render partial:"partials/alpha_list", locals:{list:@subjects, unique:"course", controller:"subjects", action:"show_courses", class_name:"subject_link"} %>

