<!-- Requires locals: {course:@course} -->
<% bookbagRel = getBookbagRelationship(current_or_guest_user, course) %>
<% sectionStyle = "display:none;" %>
<% headerBg = "" %>
<% view = true %>
<% if bookbagRel.viewing %>
    <% headerBg = "bg-dark-green" %> 
    <% sectionStyle = "display:block;" %>
    <% view = false %>
<% end %>

<div id="sidemenu-course-<%= course.id %>" class="sidemenu-course">
    <div class="<%= headerBg %> course-header">
        <%= link_to({
            controller: "bookbag_relationship",
            action: "destroy",
            id: bookbagRel.id,
            course: course.id
        },{
            method: :delete,
            remote: true,
            class: "destroy-sidemenu-course"
        }) do %>
            <button type="button" class="close sidemenu-course-close">&times;</button>
        <% end %>
        <div id="bookbag-rel-<%= bookbagRel.id %>">
            <% if bookbagRel.viewing %>
                <%= render partial: "schedulator/course-viewing", locals: {bookbagRel:bookbagRel, course:course, viewing:false} %>
            <% else %>
                <%= render partial: "schedulator/course-viewing", locals: {bookbagRel:bookbagRel, course:course, viewing:true} %>
            <% end %>
        </div>
    </div>

    <div class="sidemenu-sections" style="<%= sectionStyle %>">
        <% course.sections.each do |section| %>
            <div class="sidemenu-section" id="sidemenu-sections-<%= section.id %>">
                <%= render partial: "schedulator/section", 
                    locals: {section:section}
                %>
            </div>
        <% end %>
    </div>
</div>
