    <div class="row">
        <%= render partial: "schedulator/classList" %>
        <div class="span10" id="schedulatorContainer">
            <% if $state == "saved" %>
                <%= render 'schedulator/saved' %> 
            <% else %> <!-- state is current -->
                <%= render partial: "schedulator/schedulator",
                    locals: {schedulator: current_or_guest_user.current_schedulator}
                %>
                <%= render partial: 'schedulator/saveModal' %> 
            <% end %>
        </div>
    </div>
    
<script type="text/javascript">
$("#schedulator-li-<%= @schedulator.id.to_s %>").addClass("active")
</script>
 