<!-- Requires locals: {schedulator:@schedulator} -->
<li id="schedulator-li-<%= schedulator.id.to_s %>">
    <button type="button" class="close navLinkClose" data-active-rel="<%= getActiveSchedulatorRelationshipId(current_or_guest_user, schedulator)%>">&times;</button> 
    <%= link_to(schedulator, class: "schedulator-link", remote: true) do %>
        <%= schedulator.name %><%= raw("&nbsp;"*3) %>
    <% end %>
</li>
