<!-- Requires locals: {schedulator:@schedulator, section:@section, day: @day} -->
<!-- Think about implementing loop to deal with multiple slots per section -->
<% schedrel = getScheduleRelationship(schedulator, section) %>
<% conflict ||= false %>
<% ts_class = "" %>
<% if conflict || schedrel.conflicting %>
    <% ts_class = "conflict" %>
<% end %>
<div class="timeslot schedrel-<%= schedrel.id %> ts<%= section.getTimeSlotStr(day) %> <%= ts_class %>">
    <table class="ts-content">
        <thead><tr><th><%= section.getTimeSlotStrFormatted(day) %></th></tr></thead>
        <tbody>
            <tr><td><%= section.name %></td></tr>
        </tbody>
    </table>
</div>

