<title>OmniDuke Schedulator</title>
<h1>This is schedulator#index</h1>
<br />

<div class="container">

<div class="row">
    <div class="classList span2">
        <!-- FILL WITH SECTIONS -->
        <% current_user.sections.each do |section| %>
            <%= render partial: 'schedulator/section',
                locals: { section: section }
            %>
        <% end %>
    </div>
    <div class="span10">
        <%= render partial: "schedulator/nav",
            locals: { active: "new" } 
        %>
        <div class="schedule">
            <div class="timeSlots">
                <table>
                    <thead>
                        <th class="pad-left-small">|</th>
                        <th> 8AM</th><th>|</th>
                        <th> 9AM</th><th>|</th>
                        <th>10AM</th><th>|</th>
                        <th>11AM</th><th>|</th>
                        <th>12PM</th><th>|</th>
                        <th> 1PM</th><th>|</th>
                        <th> 2PM</th><th>|</th>
                        <th> 3PM</th><th>|</th>
                        <th> 4PM</th><th>|</th>
                        <th> 5PM</th><th>|</th>
                        <th> 6PM</th><th>|</th>
                        <th> 7PM</th><th>|</th>
                        <th> 8PM</th><th>|</th>
                        <th> 9PM</th><th>|</th>
                        <th>10PM</th><th>|</th>
                    </thead>
                </table>
            </div>
            <div class='test1'>|</div>
            <div class='test2'>|</div>
            <div class='test3'>|</div>
            <div class='test4'>|</div>
            <div class='test5'>|</div>
            <div class='test6'>|</div>
            <div class='test7'>|</div>
            <div class='test8'>|</div>
            <div class='test9'>|</div>
            <div class='test10'>|</div>
            <div class='test11'>|</div>
            <div class='test12'>|</div>
            <div class='test13'>|</div>
            <div class='test14'>|</div>
            <div class='test15'>|</div>
            <div class='test16'>|</div>
            <% @days.each do |day| %>
                <div class="daySlot <%= day %>">
                    <div class="dayName <%= day %>"><%= day %></div>
                    <div>
                        <%= raw(produceSectionDivs(current_user.sections, day)) %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

</div>
