<header>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <!--for mobile devices responsive compressed navbar -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= link_to "OmniDUKE", root_path, :class=>"brand" %>

        <div class="nav-collapse collapse">
          <ul class="nav pull-right">

            <li class=<%="active" if request.fullpath == "/" || request.fullpath == "/home"%>>
              <%= link_to( root_path) do -%>
                <i class="icon-home icon-white"></i> Home
              <% end -%>
            </li>

            <li class=<%= "active" if request.fullpath.start_with?("/schedulator")%>>
              <%= link_to "Schedulator", schedulator_index_path(click_flag: "true") %>
            </li>

            <% if !user_signed_in? %>

              <li class=<%= "active" if request.fullpath.include?("sign_in")%>>
                <%= link_to "Sign In", new_user_session_path %>
              </li>

            <% else %>

              <li class=<%= "active" if request.fullpath.start_with?("/users") %>>
                <%= link_to "Account Settings", edit_user_registration_path%>
              </li>

              <li>
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
              </li>

            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header>